In [9]:
import pandas as pd

In [10]:
physicians=pd.read_csv('../data_science/data-science-essentials-4/data/primary_care_physicians.csv')

In [3]:
physicians.shape

(3230, 4)

In [4]:
physicians.head()

   FIPS    state   county  primary_care_physicians
0  1001  Alabama  Autauga                     26.0
1  1003  Alabama  Baldwin                    153.0
2  1005  Alabama  Barbour                      8.0
3  1007  Alabama     Bibb                     12.0
4  1009  Alabama   Blount                     12.0

In [5]:
physicians['county'].unique()

array(['Autauga', 'Baldwin', 'Barbour', ..., 'Yauco', 'St. John',
       'St. Thomas'], dtype=object)

In [6]:
physicians['county'].value_counts()

Washington    31
Jefferson     26
Franklin      25
Jackson       24
Lincoln       24
              ..
Kit Carson     1
Spalding       1
Mahoning       1
Kingsbury      1
Bledsoe        1
Name: county, Length: 1936, dtype: int64

In [7]:
physicians['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Dist. of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Guam', 'Puerto Rico',
       'US Virgin Islands'], dtype=object)

In [8]:
physicians['state'].value_counts()

Texas                254
Georgia              159
Virginia             135
Kentucky             120
Missouri             115
Kansas               105
Illinois             102
North Carolina       100
Iowa                  99
Tennessee             95
Nebraska              93
Indiana               92
Ohio                  88
Minnesota             87
Michigan              83
Mississippi           82
Puerto Rico           78
Oklahoma              77
Arkansas              75
Wisconsin             72
Pennsylvania          67
Alabama               67
Florida               67
South Dakota          66
Colorado              64
Louisiana             64
New York              62
California            58
Montana               56
West Virginia         55
North Dakota          53
South Carolina        46
Idaho                 44
Washington            39
Oregon                36
Alaska                33
New Mexico            33
Utah                  29
Maryland              24
Wyoming               23
New Jersey            21
Nevada                17
Maine                 16
Arizona               15
Vermont               14
Massachusetts         14
New Hampshire         10
Connecticut            8
Rhode Island           5
Hawaii                 5
Delaware               3
US Virgin Islands      3
Guam                   1
Dist. of Columbia      1
Name: state, dtype: int64

In [9]:
physicians.loc[(physicians['state']=='Tennessee')]

       FIPS      state      county  primary_care_physicians
2432  47001  Tennessee    Anderson                     39.0
2433  47003  Tennessee     Bedford                     15.0
2434  47005  Tennessee      Benton                      3.0
2435  47007  Tennessee     Bledsoe                      1.0
2436  47009  Tennessee      Blount                     90.0
...     ...        ...         ...                      ...
2522  47181  Tennessee       Wayne                      5.0
2523  47183  Tennessee     Weakley                     18.0
2524  47185  Tennessee       White                      9.0
2525  47187  Tennessee  Williamson                    338.0
2526  47189  Tennessee      Wilson                     43.0

[95 rows x 4 columns]

William county have highest number of pCP and Bledsoe have lowest number of PCP.

In [23]:
population=pd.read_csv('../data_science/data-science-essentials-4/data/population_by_county.csv')

In [24]:
population.head()

    FIPS  population          county     state  urban
0  17051       21565  Fayette County  ILLINOIS  Rural
1  17107       29003    Logan County  ILLINOIS  Rural
2  17165       23994   Saline County  ILLINOIS  Rural
3  17097      701473     Lake County  ILLINOIS  Urban
4  17127       14219   Massac County  ILLINOIS  Rural

In [25]:
population['county'].unique()

array(['Fayette County', 'Logan County', 'Saline County', ...,
       'McNairy County', 'Hamblen County', 'Dickson County'], dtype=object)

In [26]:
population['county'].value_counts()

Washington County      30
Jefferson County       25
Franklin County        24
Jackson County         23
Lincoln County         23
                       ..
Vega Alta Municipio     1
Siskiyou County         1
Bandera County          1
Buena Vista County      1
Columbiana County       1
Name: county, Length: 1937, dtype: int64

In [27]:
population['state'].unique()

array(['ILLINOIS', 'INDIANA', 'IOWA', 'GEORGIA', 'KANSAS', 'ARKANSAS',
       'CALIFORNIA', 'HAWAII', 'IDAHO', 'OREGON', 'VIRGINIA',
       'MISSISSIPPI', 'PENNSYLVANIA', 'MISSOURI', 'WASHINGTON',
       'PUERTO RICO', 'TENNESSEE', 'RHODE ISLAND', 'SOUTH CAROLINA',
       'SOUTH DAKOTA', 'COLORADO', 'DELAWARE', 'DISTRICT OF COLUMBIA',
       'CONNECTICUT', 'NEW YORK', 'NORTH CAROLINA', 'WYOMING', 'TEXAS',
       'FLORIDA', 'NORTH DAKOTA', 'OHIO', 'KENTUCKY', 'LOUISIANA',
       'MAINE', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA',
       'ALABAMA', 'ALASKA', 'ARIZONA', 'OKLAHOMA', 'WEST VIRGINIA',
       'WISCONSIN', 'VERMONT', 'UTAH', 'MONTANA', 'NEBRASKA', 'NEVADA',
       'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO'], dtype=object)

In [30]:
population['state'].value_counts()

TEXAS                   254
GEORGIA                 159
VIRGINIA                132
KENTUCKY                120
MISSOURI                115
KANSAS                  105
ILLINOIS                102
NORTH CAROLINA          100
IOWA                     99
TENNESSEE                95
NEBRASKA                 93
INDIANA                  92
OHIO                     88
MINNESOTA                87
MICHIGAN                 83
MISSISSIPPI              82
OKLAHOMA                 77
PUERTO RICO              76
ARKANSAS                 75
WISCONSIN                72
ALABAMA                  67
FLORIDA                  67
PENNSYLVANIA             67
SOUTH DAKOTA             65
COLORADO                 64
LOUISIANA                64
NEW YORK                 62
CALIFORNIA               58
MONTANA                  56
WEST VIRGINIA            55
NORTH DAKOTA             53
SOUTH CAROLINA           46
IDAHO                    44
WASHINGTON               39
OREGON                   36
NEW MEXICO               33
UTAH                     29
MARYLAND                 24
WYOMING                  23
NEW JERSEY               21
NEVADA                   17
MAINE                    16
ALASKA                   16
ARIZONA                  15
VERMONT                  14
MASSACHUSETTS            14
NEW HAMPSHIRE            10
CONNECTICUT               8
RHODE ISLAND              5
HAWAII                    4
DELAWARE                  3
DISTRICT OF COLUMBIA      1
Name: state, dtype: int64

In [12]:
physicians['primary_care_physicians'].describe()

count    3224.00000
mean       77.92835
std       274.49887
min         0.00000
25%         4.00000
50%        11.50000
75%        39.00000
max      7412.00000
Name: primary_care_physicians, dtype: float64

In [11]:
physicians['primary_care_physicians'].describe()

count    3224.00000
mean       77.92835
std       274.49887
min         0.00000
25%         4.00000
50%        11.50000
75%        39.00000
max      7412.00000
Name: primary_care_physicians, dtype: float64

In [23]:
physicians.head(2)

   FIPS    state   county  primary_care_physicians
0  1001  Alabama  Autauga                     26.0
1  1003  Alabama  Baldwin                    153.0